@import "components/components.css";

@import "landing.css";


.error {
    color: lightcoral;
}


.graph-container {
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: stretch;
}

.graph-container svg {
    flex: 1;
}

.main-container {
    position: relative;
}

.tooltip, .tooltip-placeholder {
    position: absolute;
    right: 16px;
    top: 16px;
    max-width: 400px;
}

.tooltip .card {
    opacity: .8;
    transition: opacity ease-in-out 300ms;
}

.tooltip .card:hover {
    opacity: .9;
}

.node ellipse {
    fill: rgb(150, 150, 150);
    stroke: #d5d5d5;
    /*fill: rgba(255,255,255,.6);*/
}

.node.over ellipse {
    fill: #d5d5d5;
    stroke: #22a86c;
    stroke-width: 3px;
}

.node.over.main ellipse {
    fill: #22a86c;
}

.node.over.main text {
    stroke: #FFFFFF;
}

/*.node.over ellipse {*/
/*}*/

.link {
    stroke: white;
    stroke-width: 1;
}

.link.over {
    stroke: #22a86c;
    stroke-width: 2;
}

ul {
    margin-left: 10px;
}

.list-container li.selected {
    background-color: #969696;
}

.last-column li.selected {
    background-color: #22a86c;
}

.list-container li.hovered {
    background-color: #5cb78e;
}

.list-container {
    align-items: stretch;
    overflow-x: auto;
    flex: 1;
    align-self: stretch;
    display: flex;
}

.list-container .column-view {
    min-width: -webkit-min-content;
    flex: 1;
    display: flex;
}

.column-view-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: stretch;
}

.list-view-breadcrumbs {
    display: flex;
    flex-direction: row;
}

.column-wrapper {
    display: flex;
    flex-direction: column;
    width: 300px;
    overflow: hidden;

    border-right: 1px solid #969696;
    border-top: 1px solid #d5d5d5;
}

.column-wrapper.root-identifier {
    border-left: 1px solid #d5d5d5;
}

.column-wrapper.column-identifiers {
    border-right: 1px solid #d5d5d5;
    background-color: #2d2f31;
}

.column-metadata {
    min-height: 150px;
    overflow: auto;
    height: 150px;
}

.column-metadata {
    /*background-color: #2d2f31;*/
}

.column-list-wrapper {
    overflow: auto;
    flex: 1;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
}

.column-list {
    margin: 0;
}

