@import "components/components.css";

@import "landing.css";


.error {
    color: lightcoral;
}


.graph-container {
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: stretch;
}

.graph-container svg {
    flex: 1;
}

.main-container {
    position: relative;
}

.tooltip, .tooltip-placeholder {
    position: absolute;
    right: 16px;
    top: 16px;
    max-width: 400px;
}

.tooltip .card {
    opacity: .8;
    transition: opacity ease-in-out 300ms;
}

.tooltip .card:hover {
    opacity: .9;
}

.node ellipse {
    fill: rgb(150, 150, 150);
    stroke: #d5d5d5;
    /*fill: rgba(255,255,255,.6);*/
}

.node.over ellipse {
    fill: #d5d5d5;
    stroke: #22a86c;
    stroke-width: 3px;
}

.node.over.main ellipse {
    fill: #22a86c;
}

.node.over.main text {
    stroke: #FFFFFF;
}

/*.node.over ellipse {*/
/*}*/

.link {
    stroke: white;
    stroke-width: 1;
}

.link.over {
    stroke: #22a86c;
    stroke-width: 2;
}

ul {
    margin-left: 10px;
}