
input:not([type="file"]) {
    -webkit-appearance: none;
    outline: none;

    height: 45px;
    font-size: 100%;
    border: 0 solid transparent;
    box-shadow: 0 0 2px 1px #276c4f;

    border-radius: 4px;

    background-color: #333537;

    padding: 15px 20px;

    color: #FFF;

    box-sizing: border-box;

    margin: 8px;
}

input:focus {
    border: 1px solid #22a86c;
    box-shadow: none;
    padding: 14px 19px;
}

::-webkit-input-placeholder {
    color: #666667;
}